<div ng-controller="LoginController" class="container">
    <!-- Login section -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-3">

            <div ng-if="registerSuccessMsg" class="alert alert-success" role="alert">
                <strong>Success!</strong> Registration successful.
            </div>

            <div ng-if="submitDataError" class="errMsg">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span>All fields are mandatory!</span>
            </div>

            <div ng-if="loginFailStatus" class="errMsg">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span>Login Failed!</span>
            </div>

            <div class="placeOrderH">
                <ul>
                    <li>
                        <label>Mobile:</label>
                        <input ng-model="loginInfo.mobile" type="number">
                    </li>
                    <li>
                        <label>Password:</label>
                        <input ng-model="loginInfo.password" type="password">
                    </li>
                </ul>
            </div>

        </div><!-- //col-md-4 col-sm-6 col-xs-12 -->
    </div><!-- //row -->
    <div class="navbar-fixed-bottom">
        <div class="container-fluid text-center footer">
            <button ng-click="checkLoginInfo()" type="button" class="btnV1">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                Login
            </button>
        </div>
    </div>
</div>