<div ng-controller="productCreateController">
    <h2>Create Item</h2>
    <ul>
        <li>
            Location: <input type="text" ng-model="productDetails.location" />
        </li>
        <li>
            Product name: <input type="text" ng-model="productDetails.name" />
        </li>
        <li>
            Price: <input type="text" ng-model="productDetails.price" />
        </li>
        <li>
            Upload Photo:

            <!-- Start: Web upload-->
            <div ng-drop-zone="uploadImagesDZ"></div>
            <!-- End: Web upload-->

            <!-- Start: Mobile upload-->
            <button ng-click="onAddImage()">Add image</button>
            <div ng-repeat="img in imageAdded">
                <label>{{ img }}</label>
                <div ng-if="img.value === ''">
                    <img src="assets/images/preloader.gif">
                </div>
                <div ng-if="img.value !== ''">
                    <img style="width: 100%;" src="{{ img.value }}" />
                </div>
            </div>
            <!-- End: Mobile upload-->

        </li>
        <li>
            Description: <input type="text" ng-model="productDetails.description" />
        </li>
    </ul>
    <div>
        <button ng-click="createProduct()">Create</button>
    </div>
</div>