<header ng-controller="HeaderController">
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div ng-if="!renderPagesObj.publicCart" class="navbar-header">
            <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <button type="button" class="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0);">My Boutique</a>
            </div>
            <a ng-if="!checkUserLoggedIn()" ng-click="onOptionClick('cartList')" class="cartBtn" href="javascript:void(0);">
                  <span class="glyphicon glyphicon-shopping-cart relative">
                      <span class="cartNumbers">{{ cartListing.length }}</span>
                  </span>
            </a>
        </div>

        <div ng-if="!renderPagesObj.publicCart" class="navbar-collapse collapse" ng-main-menu>
            <ul class="nav navbar-nav">
                <li ng-show="checkUserLoggedIn()" ng-class="{active: renderPagesObj.login}"><a ng-click="onOptionClick('login')" href="javascript:void(0);">Login</a></li>
                <li ng-show="checkUserLoggedIn()" ng-class="{active: renderPagesObj.register}"><a ng-click="onOptionClick('register')" href="javascript:void(0);">Register</a></li>
                <li ng-show="!checkUserLoggedIn()" ng-class="{active: renderPagesObj.productCreate}"><a ng-click="onOptionClick('productCreate')" href="javascript:void(0);">Create item</a></li>
                <li ng-show="!checkUserLoggedIn()" ng-class="{active: renderPagesObj.orderList}"><a ng-click="onOptionClick('orderList')" href="javascript:void(0);">Pending orders</a></li>
                <li ng-class="{active: renderPagesObj.productList}"><a ng-click="onOptionClick('productList')" href="javascript:void(0);">Products list</a></li>
                <li ng-show="!checkUserLoggedIn()"><a ng-click="logoutUser('productList')" href="javascript:void(0);">Logout</a></li>
            </ul>
        </div>

        <!-- Load for public cart only -->
        <div ng-if="renderPagesObj.publicCart">
            <div class="navbar-toggle">
                <a class="navbar-brand" href="javascript:void(0);">My Boutique</a>
            </div>
        </div>

    </nav>
</header>

