<!--
<header class="hero-unit" id="banner" ng-controller="HeaderController">
    <div class="container">
        <h1>'Allo, 'Allo!</h1>
    </div>
    <div>
        <label ng-click="onOptionClick('mainMenu')">Menu</label>
        <label ng-click="onOptionClick('productList')">ProductList</label>
        <label ng-click="onOptionClick('orderList')">OrderList</label>
    </div>
</header>
-->

<header ng-controller="HeaderController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="javascript:void(0);">My Boutique</a>

            <a class="cartBtn" href="javascript:void(0);">
                  <span class="glyphicon glyphicon-shopping-cart relative">
                      <span class="cartNumbers">2</span>
                  </span>
            </a>
        </div>
        <div class="navbar-collapse collapse" ng-main-menu>
            <ul class="nav navbar-nav">
                <li class="active"><a ng-click="onOptionClick('productCreate')" href="javascript:void(0);">Create item</a></li>
                <li><a href="javascript:void(0);">My products</a></li>
                <li><a href="javascript:void(0);">My profile</a></li>
                <li><a href="javascript:void(0);">Terms of use</a></li>
                <li><a ng-click="onOptionClick('productList')" href="javascript:void(0);">Back to Products List</a></li>
            </ul>
        </div>
    </nav>
</header>

