<div ng-controller="OrderListController" class="container">

    <div class="row">

        <div ng-if="orderListCollection.length === 0" class="alertMsg">
            <h2>No pending orders</h2>
        </div>

        <div ng-if="orderListCollection.length > 0" class="col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-3">

            <div ng-repeat="productTrans in orderListCollection" class="orderDetailsContainer">
                <h2>{{ productTrans.productInfo.name }}</h2>
                <p class="qty"><span>Price</span> ${{ productTrans.productInfo.price }}</p>
                <div class="productImgH">
                    <img src="{{  clientAppConfiguration.serverApiBaseURL + '/' + productTrans.productInfo.images[0] }}"/>
                </div><!-- //productImgH -->
                <div class="addressH">
                    <h3>Address</h3>
                    <p>{{ productTrans.transactionInfo.orderSenderFullname }}</p>
                    <p>{{ productTrans.transactionInfo.addressL1 }}</p>
                    <p>{{ productTrans.transactionInfo.addressL2 }}</p>
                    <p>{{ productTrans.transactionInfo.city }}</p>
                    <p>{{ productTrans.transactionInfo.state }}</p>
                    <p><span>Mobile</span>{{ productTrans.transactionInfo.orderSenderMobile }}</p>
                    <h3>Order date</h3>
                    <p>{{ productTrans.productOrderInfo.orderDate | date : "MMM d, yyyy" }}</p>
                    <h3>Deal description</h3>
                    <p>{{ productTrans.transactionInfo.dealDesc }}</p>
                </div><!-- //addressH -->

            </div><!-- //orderDetailsContainer -->

        </div><!-- //col-md-4 col-sm-6 col-xs-12 -->
    </div><!-- //row -->
</div>
