<div ng-controller="RegisterController" class="container">
    <!-- Register section -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-3">

            <div ng-if="registerFailStatus" class="errMsg">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span>User already exists!</span>
            </div>

            <div id="registerUserForm" class="placeOrderH">
                <ul>
                    <li>
                        <label>Mobile:</label>
                        <input ng-model="registerInfo.mobile" type="number" data-error="Please enter Mobile number">
                    </li>
                    <li>
                        <label>Password:</label>
                        <input ng-model="registerInfo.password" type="password" data-error="Please enter Password">
                    </li>
                    <li>
                        <label>Full name:</label>
                        <input ng-model="registerInfo.fullname" type="text" data-error="Please enter Full name">
                    </li>
                </ul>
            </div>

        </div><!-- //col-md-4 col-sm-6 col-xs-12 -->
    </div><!-- //row -->
    <div class="navbar-fixed-bottom">
        <div class="container-fluid text-center footer">
            <button formId="registerUserForm" ng-validate="registerUser" type="button" class="btnV1">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                Register
            </button>
        </div>
    </div>

</div>