<div ng-controller="PublicCartController" class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-3">

            <div ng-if="showSuccessPublicOrder" class="alert alert-success" role="alert">
                Order placed successfully.
            </div>

            <div ng-if="cartListing.length > 0" ng-repeat="cartProduct in cartListing" class="orderDetailsContainer clearfix">
                <div class="productImgH">

                    <div id="myCarousel" class="carousel slide" ng-carousel-init>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li ng-repeat="images in publicPrdImagesForCarousel" ng-class="{'active': images.first }" data-target="#myCarousel" data-slide-to="{{ images.key }}" ng-non-bindable></li>
                        </ol>

                        <!-- Wrapper for Slides -->
                        <div class="carousel-inner">
                            <div ng-repeat="images in publicPrdImagesForCarousel" ng-class="{ 'item': true, 'active': images.first }">
                                <!-- Set the first background image using inline CSS below. -->
                                <div class="fill" style="background-image:url('{{ images.imageUrl }}');"></div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" ng-non-bindable>
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next" ng-non-bindable>
                            <span class="icon-next"></span>
                        </a>

                    </div>

                </div><!-- //productImgH -->
                <div class="textH">
                    <h1>{{ cartProduct.name }}</h1>
                    <div class="addressH">
                        <h3>Price:</h3>
                        <span>$ {{ cartProduct.price }}</span>
                        <h3>Description:</h3>
                        <span>{{ cartProduct.description }}</span>
                    </div><!-- //priceH -->
                </div><!-- //addressH -->
            </div><!-- //orderDetailsContainer -->
            <div ng-if="cartListing.length > 0" class="publicOrderSectionLink">
                <a ng-click="togglePublicOrderSection()" href="javascript: void(0);">Click here to Place order</a>
            </div>

        </div><!-- //col-md-4 col-sm-6 col-xs-12 -->
    </div><!-- //row -->

    <!-- Place Order section -->
    <div ng-if="showPublicOrder" class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-3">

            <div id="addPublicOrderForm" class="placeOrderH">
                <ul>
                    <li>
                        <label>Full name:</label>
                        <input ng-model="orderInfo.orderSenderFullname" type="text" data-error="Please enter Full name">
                    </li>
                    <li>
                        <label>Mobile number:</label>
                        <input ng-model="orderInfo.orderSenderMobile" type="number" data-error="Please enter Mobile number">
                    </li>
                    <li>
                        <label>Address Line 1:</label>
                        <input ng-model="orderInfo.addressL1" type="text" placeholder="Flat/House No, Floor, Building " data-error="Please enter Address">
                    </li>
                    <li>
                        <label>Address Line 2:</label>
                        <input ng-model="orderInfo.addressL2" type="text" placeholder="Colony/Society, Street, Locality/Area">
                    </li>
                    <li>
                        <label>Town/City:</label>
                        <input ng-model="orderInfo.city" type="text" data-error="Please enter Town/City">
                    </li>
                    <li>
                        <label>State:</label>
                        <input ng-model="orderInfo.state" type="text" data-error="Please enter State">
                    </li>
                    <li>
                        <label>Deal description:</label>
                        <textarea ng-model="orderInfo.dealDesc"></textarea>
                    </li>
                    <li>

                        <div id="captcha_container" class="g-recaptcha" data-sitekey=""></div>
                        <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
                        <script type='text/javascript'>
                            var captchaContainer = null;
                            var loadCaptcha = function() {
                                captchaContainer = grecaptcha.render('captcha_container', {
                                    'sitekey' : '6LfqngsTAAAAAANHOl0NX5nRw2Xab3Ag-6GW31zE',
                                    'callback' : function(response) {
                                        document.getElementById('xxx').disabled = false;
                                    }
                                });
                            };
                        </script>
                    </li>
                </ul>
                  <span class="textH">
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <span>
                          All the items eligible for cash on delivery
                      </span>
                  </span>
            </div>

        </div><!-- //col-md-4 col-sm-6 col-xs-12 -->
    </div><!-- //row -->

    <div ng-if="showPublicOrder" class="navbar-fixed-bottom">
        <div class="container-fluid text-center footer">
            <button formId="addPublicOrderForm" ng-validate="addPublicOrder" type="button" class="btnV1" id="xxx" disabled="disabled">
                <span class="glyphicon glyphicon-map-marker"></span>
                Place Order
            </button>
        </div>
    </div>

</div>