<div ng-controller="ProductDtlsController">
    <h2>{{ productDetails.name }}</h2>
    <ul>
        <li>
            Location: {{ productDetails.location }}
        </li>
        <li>
            Product name: {{ productDetails.name }}
        </li>
        <li>
            Price: {{ productDetails.price }}
        </li>
        <li>
            Show Photos:
            <div ng-repeat="img in productDetails.images">
                <img style="width: 100%;" src="{{ img }}" />
            </div>
        </li>
        <li>
            Description: {{ productDetails.description }}
        </li>
    </ul>
</div>