<div class="container" ng-controller="ProductDtlsController">

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-3">

            <div class="listContainer">
                <h2><span class="glyphicon glyphicon-phone-alt"></span>{{ productDetails.ownerInfo.mobile }}</h2>
                <div class="timeAndLocationH clearfix">
                    <span class="locationH">@ {{ productDetails.location }}</span>
                    <span class="postedTime">{{ productDetails.datecreated | date : "MMM d, yyyy"  }}</span>
                </div><!-- //timeAndLocationH  clearfix-->
                <div class="productImgH">

                    <div id="myCarousel" class="carousel slide" ng-carousel-init>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li ng-repeat="images in productImagesForCarousel" ng-class="{'active': images.first }" data-target="#myCarousel" data-slide-to="{{ images.key }}" ng-non-bindable></li>
                        </ol>

                        <!-- Wrapper for Slides -->
                        <div class="carousel-inner">
                            <div ng-repeat="images in productImagesForCarousel" ng-class="{ 'item': true, 'active': images.first }">
                                <!-- Set the first background image using inline CSS below. -->
                                <div class="fill" style="background-image:url('{{ images.imageUrl }}');"></div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" ng-non-bindable>
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next" ng-non-bindable>
                            <span class="icon-next"></span>
                        </a>

                    </div>

                </div><!-- //productImgH -->
                <div class="productDetail">
                    <h1>{{ productDetails.name }}</h1>
                    <h1>$ {{ productDetails.price }}</h1>
                </div><!-- //productDetail -->
                <p>{{ productDetails.description }}</p>
            </div><!-- //listContainer -->

        </div><!-- //col-md-4 col-sm-6 col-xs-12 -->
    </div><!-- //row -->

    <div ng-if="!checkUserLoggedIn()" class="navbar-fixed-bottom container-fluid text-center footer">
        <button ng-click="addToCartContents(productDetails._id)" type="button" class="btnV1">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to cart
        </button>
    </div>

</div><!-- //container -->
