<div class="container" ng-controller="ProductListController">

    <div class="row">

        <div ng-if="productsCollection.length === 0" class="plusCreateItem">
            <span ng-if="checkUserLoggedIn()" ng-click="redirectToLogin()"><img src="{{ clientAppConfiguration.serverApiBaseURL + '/assets/images/add.png' }}" /></span>
            <span ng-if="!checkUserLoggedIn()" ng-click="redirectToCreateItem()"><img src="{{ clientAppConfiguration.serverApiBaseURL + '/assets/images/add.png' }}" /></span>
            <h2>Click the 'plus' sign above, to create an item.</h2>
        </div>

        <div ng-if="productsCollection.length > 0" ng-repeat="product in productsCollection" class="col-md-4 col-sm-6 col-xs-12">
            <a ng-click="showProductDetails('productDetails', product.productInfo._id)" class="listContainer" href="javascript: void(0);">
                <h2><span class="glyphicon glyphicon-phone-alt"></span>{{ product.userInfo.mobile }}</h2>
                <div class="timeAndLocationH clearfix">
                    <span class="locationH">@ {{ product.productInfo.location }}</span>
                    <span class="postedTime">{{ product.productInfo.datecreated | date : "MMM d, yyyy" }}</span>
                </div><!-- //timeAndLocationH  clearfix-->
                <div class="productImgH">
                    <img src="{{ clientAppConfiguration.serverApiBaseURL + '/' + product.productInfo.images[0] }}"/>
                    <div class="ImgText">
                        <h1>{{ product.productInfo.name }}</h1>
                    </div><!-- //ImgText -->
                </div><!-- //productImgH -->
                <p>
                    {{ product.productInfo.description_dispaly }}
                </p>
            </a><!-- //listContainer -->
        </div><!-- //col-md-4 col-sm-6 col-xs-12 -->

    </div><!-- //row -->

</div><!-- //container -->

